
bin/
obj/
/build/
[Out]/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

config/
.node_repl_history
App_Readme/

packages/
*.nuget.props
*.nuget.targets

.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

*.mdf.lock
*.ldf.lock