footer{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 17px;
    padding-block: 1rem;
    margin-top: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid  rgb(255, 228, 74);
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
    line-height: 2rem;
}
footer span{
    color: rgb(255, 228, 74);
    text-transform: capitalize;
}
footer .managed{
    display: flex;
    justify-content: space-between;
}
footer a{
    display: block;
    padding: 10px;
}
footer .icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}